In [87]:
import pandas as pd
pd.set_option("display.max_rows", 10)

In [ ]:
df_16=pd.read_csv("lok-sabha-16th-members-march-2019.csv")
display(df_16)

In [65]:
cols_to_remove_2016=["SL No.", "Constituency", "State"]
df_16=df_16.drop(columns=cols_to_remove_2016)

In [ ]:
df_2016

In [88]:
import re
def clean_name_16(name):
    if pd.isna(name):
        return name
    
    #remove anything enclosed within parantheses
    name = re.sub(r'\(.*?\)', '', name)
    honorifics = ['Shri', 'Prof', 'Dr', 'Shrimate', 'Prof.', 'Dr.', 'Smt.']
    parts=name.split()
    cleaned_parts=[part for part in parts if part not in honorifics]
    return " ".join(cleaned_parts)
df_16["Name"]=df_16["Name"].apply(clean_name_16)
df_16

                          Name                             Party Name
0              Bishnu Pada Ray                 Bharatiya Janata Party
1        Ravindra Babu Pandula                     Telugu Desam Party
2    Muthamsetti Srinivasa Rao                     Telugu Desam Party
3           J.C. Divakar Reddy                     Telugu Desam Party
4            Geetha Kothapalli  Yuvajana Sramika Rythu Congress Party
..                         ...                                    ...
518             Mohammad Salim     Communist Party of India (Marxist)
519               Tapas Mandal           All India Trinamool Congress
520            Kalyan Banerjee           All India Trinamool Congress
521          Dibyendu Adhikari           All India Trinamool Congress
522                Sajda Ahmed           All India Trinamool Congress

[523 rows x 2 columns]

In [69]:
%pip install openpyxl

Requirement already satisfied: openpyxl in d:\css_nlp_research_project\venv\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in d:\css_nlp_research_project\venv\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [89]:
df_18=pd.read_excel("SittingMembers_18LokSabha.xlsx")
df_18

,Name of Member,Party Name,Constituency,State,MemberShip Status,Lok Sabha Terms
0,"A, Shri Mani",Dravida Munnetra Kazhagam,Dharmapuri,Tamil Nadu,Sitting,18
1,"A, Shri Raja",Dravida Munnetra Kazhagam,Nilgiris(SC),Tamil Nadu,Sitting,"11,13,14,15,17,18"
2,"Agrawal, Shri Brijmohan",Bharatiya Janata Party,Raipur,Chhattisgarh,Sitting,18
3,"Agrawal, Shri Damodar",Bharatiya Janata Party,Bhilwara,Rajasthan,Sitting,18
4,"Ahirwar, Shri Narayandas",Samajwadi Party,Jalaun(SC),Uttar Pradesh,Sitting,18
...,...,...,...,...,...,...
537,"Yadav, Shri Dinesh Chandra",Janata Dal (United),Madhepura,Bihar,Sitting,"11,13,15,17,18"
538,"Yadav, Shri Giridhari",Janata Dal (United),Banka,Bihar,Sitting,"11,14,17,18"
539,"Yadav, Shri Surendra Prasad",Rashtriya Janata Dal,Jahanabad,Bihar,Sitting,"12,18"
540,"Yadav, Smt. Dimple",Samajwadi Party,Mainpuri,Uttar Pradesh,Sitting,"15,16,17,18"
541,"Yusuf, Mr Pathan",All India Trinamool Congress,Baharampur,West Bengal,Sitting,18

In [90]:
df_18=df_18[["Name of Member", "Party Name"]]
df_18

                  Name of Member                    Party Name
0                   A, Shri Mani     Dravida Munnetra Kazhagam
1                   A, Shri Raja     Dravida Munnetra Kazhagam
2        Agrawal, Shri Brijmohan        Bharatiya Janata Party
3          Agrawal, Shri Damodar        Bharatiya Janata Party
4       Ahirwar, Shri Narayandas               Samajwadi Party
..                           ...                           ...
537   Yadav, Shri Dinesh Chandra           Janata Dal (United)
538        Yadav, Shri Giridhari           Janata Dal (United)
539  Yadav, Shri Surendra Prasad          Rashtriya Janata Dal
540           Yadav, Smt. Dimple               Samajwadi Party
541             Yusuf, Mr Pathan  All India Trinamool Congress

[542 rows x 2 columns]

In [91]:
df_18=df_18.rename(columns={
    "Name of Member":"Name",
})
df_18

                            Name                    Party Name
0                   A, Shri Mani     Dravida Munnetra Kazhagam
1                   A, Shri Raja     Dravida Munnetra Kazhagam
2        Agrawal, Shri Brijmohan        Bharatiya Janata Party
3          Agrawal, Shri Damodar        Bharatiya Janata Party
4       Ahirwar, Shri Narayandas               Samajwadi Party
..                           ...                           ...
537   Yadav, Shri Dinesh Chandra           Janata Dal (United)
538        Yadav, Shri Giridhari           Janata Dal (United)
539  Yadav, Shri Surendra Prasad          Rashtriya Janata Dal
540           Yadav, Smt. Dimple               Samajwadi Party
541             Yusuf, Mr Pathan  All India Trinamool Congress

[542 rows x 2 columns]

In [92]:
def clean_name_18(name):
    if pd.isna(name):
        return name
    name = re.sub(r'\(.*?\)', '', name)
    honorifics = [
        'shri', 'shrimate', 'smt.', 'mr', 'mrs', 'ms', 'prof', 'dr', 
        'prof.', 'dr.'
    ]
    if ',' in name:
        last, first = name.split(',', 1)
        first_parts = [part for part in first.split() if part.lower() not in honorifics]
        first_cleaned = " ".join(first_parts)
        # Combine first and last
        return f"{first_cleaned.strip()} {last.strip()}"
    else:
        # If no comma, just clean honorifics
        parts = [part for part in name.split() if part.lower() not in honorifics]
        return " ".join(parts).strip()
df_18['Name'] = df_18['Name'].apply(clean_name_18)
df_18

                      Name                    Party Name
0                   Mani A     Dravida Munnetra Kazhagam
1                   Raja A     Dravida Munnetra Kazhagam
2        Brijmohan Agrawal        Bharatiya Janata Party
3          Damodar Agrawal        Bharatiya Janata Party
4       Narayandas Ahirwar               Samajwadi Party
..                     ...                           ...
537   Dinesh Chandra Yadav           Janata Dal (United)
538        Giridhari Yadav           Janata Dal (United)
539  Surendra Prasad Yadav          Rashtriya Janata Dal
540           Dimple Yadav               Samajwadi Party
541           Pathan Yusuf  All India Trinamool Congress

[542 rows x 2 columns]

In [93]:
df_18

                      Name                    Party Name
0                   Mani A     Dravida Munnetra Kazhagam
1                   Raja A     Dravida Munnetra Kazhagam
2        Brijmohan Agrawal        Bharatiya Janata Party
3          Damodar Agrawal        Bharatiya Janata Party
4       Narayandas Ahirwar               Samajwadi Party
..                     ...                           ...
537   Dinesh Chandra Yadav           Janata Dal (United)
538        Giridhari Yadav           Janata Dal (United)
539  Surendra Prasad Yadav          Rashtriya Janata Dal
540           Dimple Yadav               Samajwadi Party
541           Pathan Yusuf  All India Trinamool Congress

[542 rows x 2 columns]

In [99]:
import pandas as pd

df_17 = pd.read_csv("lok_sabha_all_members_17.csv")

pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', None)

mask = df_17["Name"].fillna("").str.strip().str.lower() != "vacant"
df_17 = df_17[mask]
df_17 = df_17.dropna(subset=["Name"])

cols_to_remove_17=["#", "Constituency", "Party"]
df_17=df_17.drop(columns=cols_to_remove_17)

df_17=df_17.rename(columns={
    "Party.1":"Party Name"
})


df_17["Party Name"] = df_17["Party Name"].ffill()


#to remove content inside the paratheses, which primarily contains information about people who switched parties, resigned or passed away. 
#for now we are assuming that people did not switch parties in between the session, as the numbers of people switching parties in the lok sabha are comparatively lower.
def remove_paranthesis_17(name):
    if pd.isna(name):
        return name
    name = re.sub(r'\(.*?\)', '', name)
    return name

df_17["Name"]=df_17["Name"].apply(remove_paranthesis_17)
df_17 = df_17[~df_17["Name"].str.contains("party" or "congress", case=False, na=False)]


display(df_17)

                            Name                Party Name
0                Goddeti Madhavi        YSR Congress Party
1      Ram Mohan Naidu Kinjarapu        Telugu Desam Party
2         Bellana Chandra Sekhar        YSR Congress Party
3         M. V. V. Satyanarayana        YSR Congress Party
4    Beesetti Venkata Satyavathi        YSR Congress Party
..                           ...                       ...
590              Meenakshi Lekhi    Bharatiya Janata Party
591                Hans Raj Hans    Bharatiya Janata Party
592                Parvesh Verma    Bharatiya Janata Party
593               Ramesh Bidhuri    Bharatiya Janata Party
594              V. Vaithilingam  Indian National Congress

[545 rows x 2 columns]

In [100]:
df_16

                          Name                             Party Name
0              Bishnu Pada Ray                 Bharatiya Janata Party
1        Ravindra Babu Pandula                     Telugu Desam Party
2    Muthamsetti Srinivasa Rao                     Telugu Desam Party
3           J.C. Divakar Reddy                     Telugu Desam Party
4            Geetha Kothapalli  Yuvajana Sramika Rythu Congress Party
..                         ...                                    ...
518             Mohammad Salim     Communist Party of India (Marxist)
519               Tapas Mandal           All India Trinamool Congress
520            Kalyan Banerjee           All India Trinamool Congress
521          Dibyendu Adhikari           All India Trinamool Congress
522                Sajda Ahmed           All India Trinamool Congress

[523 rows x 2 columns]

In [101]:
df_17

                            Name                Party Name
0                Goddeti Madhavi        YSR Congress Party
1      Ram Mohan Naidu Kinjarapu        Telugu Desam Party
2         Bellana Chandra Sekhar        YSR Congress Party
3         M. V. V. Satyanarayana        YSR Congress Party
4    Beesetti Venkata Satyavathi        YSR Congress Party
..                           ...                       ...
590              Meenakshi Lekhi    Bharatiya Janata Party
591                Hans Raj Hans    Bharatiya Janata Party
592                Parvesh Verma    Bharatiya Janata Party
593               Ramesh Bidhuri    Bharatiya Janata Party
594              V. Vaithilingam  Indian National Congress

[545 rows x 2 columns]

In [102]:
df_18

                      Name                    Party Name
0                   Mani A     Dravida Munnetra Kazhagam
1                   Raja A     Dravida Munnetra Kazhagam
2        Brijmohan Agrawal        Bharatiya Janata Party
3          Damodar Agrawal        Bharatiya Janata Party
4       Narayandas Ahirwar               Samajwadi Party
..                     ...                           ...
537   Dinesh Chandra Yadav           Janata Dal (United)
538        Giridhari Yadav           Janata Dal (United)
539  Surendra Prasad Yadav          Rashtriya Janata Dal
540           Dimple Yadav               Samajwadi Party
541           Pathan Yusuf  All India Trinamool Congress

[542 rows x 2 columns]

In [ ]:
import pandas as pd

df_16["LS"] = 16
df_17["LS"] = 17
df_18["LS"] = 18

master_df = pd.concat([df_16, df_17, df_18], ignore_index=True)

master_df = master_df[["Name", "Party Name", "LS"]]

display(master_df)

                           Name                             Party Name  LS
0               Bishnu Pada Ray                 Bharatiya Janata Party  16
1         Ravindra Babu Pandula                     Telugu Desam Party  16
2     Muthamsetti Srinivasa Rao                     Telugu Desam Party  16
3            J.C. Divakar Reddy                     Telugu Desam Party  16
4             Geetha Kothapalli  Yuvajana Sramika Rythu Congress Party  16
...                         ...                                    ...  ..
1605       Dinesh Chandra Yadav                    Janata Dal (United)  18
1606            Giridhari Yadav                    Janata Dal (United)  18
1607      Surendra Prasad Yadav                   Rashtriya Janata Dal  18
1608               Dimple Yadav                        Samajwadi Party  18
1609               Pathan Yusuf           All India Trinamool Congress  18

[1610 rows x 3 columns]

In [106]:
master_df.to_csv("metadata_mapping_16_17_18.csv", index=False)