In [ ]:
import pandas as pd

In [ ]:
df_16=pd.read_csv("lok-sabha-16th-members-march-2019.csv")
display(df_16)

In [ ]:
cols_to_remove_2016=["SL No.", "Constituency", "State"]
df_16=df_16.drop(columns=cols_to_remove_2016)

In [ ]:
df_2016

In [ ]:
import re
def clean_name_16(name):
    if pd.isna(name):
        return name
    
    #remove anything enclosed within parantheses
    name = re.sub(r'\(.*?\)', '', name)
    honorifics = ['Shri', 'Prof', 'Dr', 'Shrimate', 'Prof.', 'Dr.']
    parts=name.split()
    cleaned_parts=[part for part in parts if part not in honorifics]
    return " ".join(cleaned_parts)
df_16["Name"]=df_16["Name"].apply(clean_name_16)
df_16

In [ ]:
%pip install openpyxl

In [29]:
df_18=pd.read_excel("SittingMembers_18LokSabha.xlsx")
df_18

,Name of Member,Party Name,Constituency,State,MemberShip Status,Lok Sabha Terms
0,"A, Shri Mani",Dravida Munnetra Kazhagam,Dharmapuri,Tamil Nadu,Sitting,18
1,"A, Shri Raja",Dravida Munnetra Kazhagam,Nilgiris(SC),Tamil Nadu,Sitting,"11,13,14,15,17,18"
2,"Agrawal, Shri Brijmohan",Bharatiya Janata Party,Raipur,Chhattisgarh,Sitting,18
3,"Agrawal, Shri Damodar",Bharatiya Janata Party,Bhilwara,Rajasthan,Sitting,18
4,"Ahirwar, Shri Narayandas",Samajwadi Party,Jalaun(SC),Uttar Pradesh,Sitting,18
...,...,...,...,...,...,...
537,"Yadav, Shri Dinesh Chandra",Janata Dal (United),Madhepura,Bihar,Sitting,"11,13,15,17,18"
538,"Yadav, Shri Giridhari",Janata Dal (United),Banka,Bihar,Sitting,"11,14,17,18"
539,"Yadav, Shri Surendra Prasad",Rashtriya Janata Dal,Jahanabad,Bihar,Sitting,"12,18"
540,"Yadav, Smt. Dimple",Samajwadi Party,Mainpuri,Uttar Pradesh,Sitting,"15,16,17,18"
541,"Yusuf, Mr Pathan",All India Trinamool Congress,Baharampur,West Bengal,Sitting,18

In [30]:
df_18=df_18[["Name of Member", "Party Name"]]
df_18

                  Name of Member                    Party Name
0                   A, Shri Mani     Dravida Munnetra Kazhagam
1                   A, Shri Raja     Dravida Munnetra Kazhagam
2        Agrawal, Shri Brijmohan        Bharatiya Janata Party
3          Agrawal, Shri Damodar        Bharatiya Janata Party
4       Ahirwar, Shri Narayandas               Samajwadi Party
..                           ...                           ...
537   Yadav, Shri Dinesh Chandra           Janata Dal (United)
538        Yadav, Shri Giridhari           Janata Dal (United)
539  Yadav, Shri Surendra Prasad          Rashtriya Janata Dal
540           Yadav, Smt. Dimple               Samajwadi Party
541             Yusuf, Mr Pathan  All India Trinamool Congress

[542 rows x 2 columns]

In [32]:
df_18=df_18.rename(columns={
    "Name of Member":"Name",
    "Party Name":"Party"
})
df_18

                            Name                         Party
0                   A, Shri Mani     Dravida Munnetra Kazhagam
1                   A, Shri Raja     Dravida Munnetra Kazhagam
2        Agrawal, Shri Brijmohan        Bharatiya Janata Party
3          Agrawal, Shri Damodar        Bharatiya Janata Party
4       Ahirwar, Shri Narayandas               Samajwadi Party
..                           ...                           ...
537   Yadav, Shri Dinesh Chandra           Janata Dal (United)
538        Yadav, Shri Giridhari           Janata Dal (United)
539  Yadav, Shri Surendra Prasad          Rashtriya Janata Dal
540           Yadav, Smt. Dimple               Samajwadi Party
541             Yusuf, Mr Pathan  All India Trinamool Congress

[542 rows x 2 columns]

In [35]:
def clean_name_18(name):
    if pd.isna(name):
        return name
    name = re.sub(r'\(.*?\)', '', name)
    honorifics = [
        'shri', 'shrimate', 'smt.', 'mr', 'mrs', 'ms', 'prof', 'dr', 
        'prof.', 'dr.'
    ]
    if ',' in name:
        last, first = name.split(',', 1)
        first_parts = [part for part in first.split() if part.lower() not in honorifics]
        first_cleaned = " ".join(first_parts)
        # Combine first and last
        return f"{first_cleaned.strip()} {last.strip()}"
    else:
        # If no comma, just clean honorifics
        parts = [part for part in name.split() if part.lower() not in honorifics]
        return " ".join(parts).strip()
df_18['Name'] = df_18['Name'].apply(clean_name_18)
df_18

                      Name                         Party
0                   Mani A     Dravida Munnetra Kazhagam
1                   Raja A     Dravida Munnetra Kazhagam
2        Brijmohan Agrawal        Bharatiya Janata Party
3          Damodar Agrawal        Bharatiya Janata Party
4       Narayandas Ahirwar               Samajwadi Party
..                     ...                           ...
537   Dinesh Chandra Yadav           Janata Dal (United)
538        Giridhari Yadav           Janata Dal (United)
539  Surendra Prasad Yadav          Rashtriya Janata Dal
540           Dimple Yadav               Samajwadi Party
541           Pathan Yusuf  All India Trinamool Congress

[542 rows x 2 columns]

In [36]:
df_17=pd.read_csv("lok_sabha_all_members_17.csv")
df_17

,#,Constituency,Name,Party,Party.1
0,1,Araku(ST),Goddeti Madhavi,NaN,YSR Congress Party
1,2,Srikakulam,Ram Mohan Naidu Kinjarapu,NaN,Telugu Desam Party
2,3,Vizianagaram,Bellana Chandra Sekhar,NaN,YSR Congress Party
3,4,Visakhapatnam,M. V. V. Satyanarayana,NaN,NaN
4,5,Anakapalli,Beesetti Venkata Satyavathi,NaN,NaN
...,...,...,...,...,...
590,4,New Delhi,Meenakshi Lekhi,NaN,NaN
591,5,North West Delhi(SC),Hans Raj Hans,NaN,NaN
592,6,West Delhi,Parvesh Verma,NaN,NaN
593,7,South Delhi,Ramesh Bidhuri,NaN,NaN
594,1,Puducherry,V. Vaithilingam,NaN,Indian National Congress